.main-container {
  background-color: #111315;
  background-image: url('bg-cafe.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: contain;
  padding: 12vh;
}

.card-over-container {
  background-color: #1B1D1F;
  width: 100%;
  margin: 0 auto;
  color: #FEF7EE;
  padding: 2rem;
  border-radius: 15px;
  background-color: #1B1D1F;
  background-image: url('vector.svg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: 80% 16%;
  background-size: auto;
}

.header-container > img {
  position: absolute;
  top: 25%;
  bottom: 50%;
  color: #1B1D1F;
  fill: #1B1D1F; /* changes the color to red */
}

.header-container {
  text-align: center;
  /* background-image: url('vector.svg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: 80% 16%;
  background-size: auto; */
  background-color: #1B1D1F;
  padding-top: 2em;
}

.header-container,
.header-container > h1,
.header-container > p {
  background-color: rgb(27, 29, 31, .01);
}

.header-container > h1 {
  margin-bottom: .15em;
}

.header-container > p {
  opacity: 0.7;
  /* background-color: rgb(27, 29, 31, 0.5); */
  color: #FEF7EE;
}

.button-container {
  margin: 2em auto;
}

.button-container,
.button-container > button {
  background-color: #1B1D1F;
  color: #FEF7EE;
  text-align: center;
}

.all-products,
.available-now {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: .5em 1em;
} 

.selected {
  background-color: #6F757C !important;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 340px;
  margin: 0 auto;
  /* border: 2px solid white; */
  background-color: #1B1D1F;
  position: relative;
}

.card-container > img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 1em 100%;
}

.popular {
  position: absolute;
  top: 25px;
  right: 260px;
  background-color: #F6C768;
  color: black;
  padding: 5px 7px;
  border-radius: 25px;
  font-weight: bold;
  font-size: .75em;
}

.name-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-top: -1em;
  /* border: 2px solid red; */
}

.name-price-container,
.rating-container,
.rating-container > img {
  width: 100%;
  background-color: #1B1D1F;
}

.rating-container {
  margin-top: -.5em;
  margin-bottom: 1em;
  align-content: center;
  display: flex;
  gap: 3px;
}

.coffee-price-p {
  color: #FEF7EE;
  background-color: #1B1D1F;
}

.price-span {
  background-color: #BEE3CC;
  color:black;
  font-size: 0.8em;
  font-weight: 500;
  padding: .35em;
  border-radius: 5px;
}

.votes-span,
.rating-span {
  background-color: #1B1D1F;
}

.votes-span {
  color: #6F757C;
  margin: .25em;
  font-size: .75em;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.sold-out-span {
  background-color: #1B1D1F;
  color: #ED735D;
  margin-left: auto;
}

@media screen and (min-width: 1025px) {
  .card-grid-container {
    display: flex;
    /* flex: 0 0 auto;  */
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1B1D1F;
  }
  
  .name-price-container {
    margin-top: .0em;
  }
  
    .card-container {
      width: 1000px;
      flex-basis: calc(33% - 2em);
      margin-bottom: 1em;
    }
    .popular {
      position: absolute;
      top: 20px;
      left: 8px;
      background-color: #F6C768;
      color: black;
      border-radius: 25px;
      font-weight: bold;
      font-size: 0.75em;
      width: 70px;
      height: 20px;
      align-self: center;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    
  }

@media screen and (max-width: 1024px) {

.card-grid-container {
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 0 auto;  */
  justify-content: space-around;
  background-color: #1B1D1F;
}

.name-price-container {
  margin-top: .0em;
}

  .card-container {
    width: auto;
    flex-basis: calc(50% - 1em);
    margin-bottom: 1em;
  }
  .card-container > img {
    margin: 0 auto;
  }

  .popular {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #F6C768;
    color: black;
    border-radius: 25px;
    font-weight: bold;
    font-size: 0.75em;
    width: 70px;
    height: 20px;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

@media screen and (max-width: 800px) {

  .card-grid-container {
    /* display: flex; */
    flex-wrap: nowrap;
    flex-direction: column;
    /* flex: 0 0 auto; 
    justify-content: space-around;
    background-color: #1B1D1F; */
  }

  .card-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
  }

  .button-container > button {
    margin: .25em;
  }

  .header-container > p {
    margin-bottom: -1em;
  }

  .popular {
    top: 3px;
    left: 5px;
    padding: 3px 6px;
  }
}